html, body{
  height: 100%;
  width:100%;
}
body 
{
	background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(http://i.imgur.com/cr2zuS6.jpg);
	 position:relative;
	 background-size: cover;
	 background-position: center center;
     background-repeat:no-repeat;
     background-attachment: fixed;
}

/*@media only screen and (min-width: 400px) {
    body { 
        background-image: url(http://i.imgur.com/EOwCrwa.jpg); 
    }
}*/

.navigation-top{
	display:inline-block;
	background-color:#4f4f4f;
	width:450px;
    font-size:8px;
    padding: 4px 4px;
    margin-top: 20px;
    opacity:0.8;
    border-radius:15px;
}
#nav
	
.sidenav{
	margin:auto;
	max-width: 980px;
    
}
ul.sidenav li a:hover {
	display: inline-block;
    color: #ff7000;
    text-decoration: none;

}
ul{
	list-style-type:none;
}
.active{
	color:#00004d;
	
}
#about{
font-size: 30px;
}
#contact{
	margin-left: 40px;
	font-size: 30px;
}
#projects{
	margin-left: 40px;
	font-size: 30px;
}
 li a{
 	
     float:left;
     list-style-type:none;
}
/*.img-responsive{
	background-image:url(http://i.imgur.com/EOwCrwa.jpg);

	width:100%;
	
	position:relative;

	background-repeat:no-repeat;
     height: 100vh;
    background-position:center center;
    background-size: cover;
     background-attachment: fixed;
}*/
.img-circle{
	opacity:0.8;
	background-color:#4f4f4f;
	 width: 200px;
     height: 200px;
     background-size: cover;
     display: block;
     background-image:url("");
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}
.ui-item {
    max-width: 200px;
    margin: 20px auto;
    border-radius: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.ui-image-hover .ui-social{
	 width: 200px;
     height: 200px;
	text-align:center;
	background:transparent;
	position:absolute;
	
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
  
/* .ui-image-hover {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
    opacity:0.7;
}*/
#name{
	text-align:center;
	 /* background-color: #FFB547;*/
	color:#f7f7f7;
	text-shadow: 3px 3px #555;
	font-size: 50px;
    margin-top:30px;
}
a {text-decoration: none}
h2 {
	text-align:center;
	color:#FC0303;
	 text-shadow: 1px 1px #88f8f8; 
}
#progress {
	text-shadow: 1px 1px #88f8f8; 
    text-align:center;
	color:#2503FC;
	font-size: 30px;
}
