html, body{
  height: 100%;
  width:100%;
}
body{
	background-image:
	 linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
	url(https://user-images.githubusercontent.com/14062258/27520101-ec245c52-5a02-11e7-8189-1aa82c6ca0d7.jpg);
	 position:relative;
	 background-size: cover;
	 background-position: center center;
     background-repeat:no-repeat;
     background-attachment: fixed;
}
h1{
    color:#00004d;
    text-shadow: 2px 2px #f7f7f7;
	font-size: 50px;
    margin:30px 200px;
}
