/* BASE STYLES
============================================================================= */
html         { overflow-y:hidden; }
.page        {
  
  text-align:center;
  top:0;
  max-width:100%;
  padding-bottom:10%;
  background-size:cover;
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

 h1 	{ font-size:60px;}
 #title1{
	 font-size:60px;
	 text-align:center;
         color:#045eef;
 	 text-shadow: 2px 2px #95b7ed;
  }
 #title2{
	 font-size:60px;
	 text-align:center;
	 color:#96070e;
	 text-shadow:2px 2px #706f6f;
 }
 #title3{
	font-size:60px;
	text-align:center;
	color:#96070e;
	text-shadow:2px 2px #706f6f;
 }

.navigation-top{
	 display:inline-block;
	 background-color:#acb0b7;
	 width:450px;
         font-size:8px;
         padding: 4px 4px;
         margin-top: 200px;
         opacity:0.8;
         border-radius:15px;
}
.sidenav{
	 margin: 0 auto;
	 max-width: 980px;
}
ul.sidenav li a:hover {
	display: inline-block;
        color:#ff9900;
        text-decoration: none;
        text-shadow: 2px 2px #555;
}
ul li{
	list-style-type:none;
        display: inline;
}
.active{
	color:#00004d;
	font-size: 30px;
        display: inline-block;
        margin-left:20px;

}

 li a{
        float:left;
        list-style-type:none;
}
a {text-decoration: none}

#name{
   	text-align:center;
        color:#f7f7f7;
   	text-shadow: 3px 3px #555;
   	font-size: 50px;
        margin-top:30px;
   }
#progress {
   	text-shadow: 1px 1px #88f8f8;
        text-align:center;
   	color:#2503FC;
   	font-size: 30px;
   }
h2 {
   	text-align:center;
   	color:#FC0303 !important;
        text-shadow: 1px 1px #f7f7f7;
   }
#phone{
	font-size: 30px;
	color:#f4f5f7;
        font-family: "Arial", sans-serif;
}
#portfolio{
	font-size:40px;
	text-align:center;
        color:#ff9900;
	text-shadow: 1px 1px #f7f7f7;
}
#description{
	background-color:#acb0b7;
        margin-top:80px;
	margin-left:20%;
        margin-right:20%;
	opacity:0.6;
	border-radius:15px;
	box-shadow: 8px 8px 5px #888888;
}

.blocktext{
	padding:10px ;
	text-align: justify;
	margin-left: auto;
        margin-right: auto;
        font-size: 25px;
	color:#4f0348;
	font-family: "Arial", sans-serif;
}
.social  {
  margin-top:10px;
  border-radius: 50%;
}
.fa {
  padding: 20px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 10%;
}

.fa:hover {
    opacity: 0.9;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google-plus {
  background: #dd4b39;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.box {
      background-color: #cccccc;
      opacity: 0.6;
      margin-left: auto;
      margin-right: auto;
      width: 300px;
      height: 300px;
      border: 3px solid #0000ff;
}
.project {
      margin-left: 25px;
      display:inline-block;
      font-size: 35px;
      text-align:center;
      color:#96070e;
}
ul li a:hover {
      display: inline;
      color:#cc0000;
      text-decoration: none;
      text-align: center;
      text-shadow: 1px 1px #555;
}

/* PAGES
============================================================================= */
.page-home 		{
  background-image :
  linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
    ),
   url("https://i.imgur.com/bceXPCV.jpg")}
	    /*url("pictures/image1.jpg")*/

.page-about 	{background-image:url("https://i.imgur.com/cqHmCTt.jpg")}
.page-contact {background-image:url("https://i.imgur.com/ZJj6JoC.jpg")}
.page-projects {background-image:url("https://i.imgur.com/wrgO3Vi.jpg")}
/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter 		{
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;
}

/* about ------------------------ */
.page-about.ng-leave        {
    -webkit-animation:slideOutLeft 0.4s both ease-in;
	-moz-animation:slideOutLeft 0.4s both ease-in;
	animation:slideOutLeft 0.s both ease-in;
}
.page-about.ng-enter 		{
    -webkit-animation:slideInRight 0.4s both ease-in;
	-moz-animation:slideInRight 0.4s both ease-in;
	animation:slideInRight 0.4s both ease-in;
}

/* contact ---------------------- */
.page-contact.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter 		{
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;
}
/*projects-------------------------*/
.page-projects.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-projects.ng-enter 		{
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

   /* Tablet Landscape */
   @media screen and (max-width: 1060px) {
       #primary { width:67%; }
       #secondary { width:30%; margin-left:3%;}
   }
   /* Tabled Portrait */
   @media screen and (max-width: 768px) {
       #primary { width:100%; }
       #secondary { width:100%; margin:0; border:none; }
   }

   @media screen and (min-width:240px) and (max-width: 320px) {
		 .navigation-top{
			 margin-top:20px;
			 width:150px;
		 }
		 .active{
			 margin-left:2px;
		 }
     .blocktext{
			 font-size:15px;
		 }
		 #description{
			 margin-top:20px;
			 margin-left:10%;
			 margin-right:10%;
		 }
     }
   @media screen and (min-width: 321px) and (max-width:480px) {
		 .navigation-top{
			 margin-top:20px;
			 width:200px;
		 }
		 .active{
			 margin-left:4px;
		 }
		 .blocktext{
			font-size:15px;
		}
		#description{
		 margin-top:80px;
		 margin-left:10%;
		 margin-right:10%;
		}
   }
   @media screen and(min-width: 640px){
		 body {font-size:1rem;}
     /*.navigation-top{
			 margin-top:30px;
		 }*/
  }
   @media (min-width:960px) { body {font-size:1.2rem;} }
   @media (min-width:1100px) { body {font-size:1.5rem;} }
