body{
	background-image:url(
	"https://i.imgur.com/cQBNk2U.jpg");
	position : relative;
	background-size:cover;
        background-position: center center;
	background-repeat:no-repeat;
	background-attachment: fixed;
	/*min-height:100%;*/
}

.icon:before {
	font-family: 'MeteoconsRegular';
	content: attr(data-icon);
}
#current_temp {
  font-size: 3em;
}
#current_summary {
  font-size: 1.5em;
}
.content{
  text-align: center;
}
.city{
	color:red;
}
h1{
	text-align: center;
	color:red;
}
.a{
  color:#00004d;
  font-size: 20px;
  display: inline-block;
  margin-left:50px;
  text-decoration: none;
}
a:hover {
    display: inline-block;
    color:#4286f4;
    text-decoration: none;
    text-shadow: 1px 1px #555;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f98e02;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
