*{
  box-sizing:border-box;
}
body{
  font-size:1.4em;
  color:#0f0f0f;
  font-family:'Varela Round',sans-serif;
  font-weight:bold;
  padding:0;
  margin:10px;
 
  background-image :
  linear-gradient(
  rgba(0, 0, 0, 0.1),
  rgba(0, 0, 0, 0.1)
  ),
 url("https://i.imgur.com/IhMt2Pw.jpg");
 background-size:cover;
background-position: center center;
background-repeat:no-repeat;
background-attachment:fixed;
}
.container > *{
  /*padding:0.85em;*/

  text-align:center;

}

header{
   background-color:#ffffff;
 	 opacity:0.6;
   border-radius:15px;
}
nav{
  background-color:#ffffff;
  opacity:0.6;
  border-radius:15px;
}
main{
  background-color:#ffffff;
  opacity:0.6;
  border-radius:15px;
}
aside{
  background-color:#ffffff;
  opacity:0.6;
  border-radius:15px;
}
footer{
  background-color:#ffffff;
  opacity:0.6;
  border-radius:15px;
}
ul li a {
  vertical-align:middle;
   align-items: center;
}

